# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/

# Local env/config
.env
.envrc
.DS_Store
.idea

# Test/editor scratch
**/.pytest_cache/
**/.ipynb_checkpoints/

# Project outputs
data/out/

# Other files
annotated/